@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-family:  'Lato', sans-serif;
$primary-color: rgb(212, 177, 95);
$secondary-color: rgb(221, 220, 220);
*{
    font-family: $font-family;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**
Common Classess
*/
.flex-container{
    display: flex;
}
//Line Break
div.qr-hr{
    width: 100%;
    height: 1px;
    background-color: $secondary-color;
}
.space-between{
    justify-content: space-between;
}

/**
* Buttons
**/
.btn{
    
}
.btn-primary{
    background-color: $primary-color;
    color: #fff;
}
//Popup
.qr-designer-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 9999;
}
//Modal
.modal{
    width: 960px;
    background-color: #fff;
    margin: 2rem auto;
    margin-top: 5%;
    height: 80%;
    //Times Icon
    .times{
        .btn-times{
            border: 0;
            outline: 0;
            width: 2rem;
            height: 2rem;
            padding: 0;
            margin: 0;
            background-color: rgb(248, 76, 76);
            color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    //Modal Header
    .modal-header{
        padding: 0.5rem;
        border: 1px solid $secondary-color;
        .heading{
            h2{
                margin-bottom: 0;
                font-size: 1.2rem;
            }
        }
    }
    //Modal Body
    .modal-body{
        border-bottom: 1px solid $secondary-color;
        padding: 1rem;
        height: 100%;
        overflow-y: scroll;
        background-color: #fff;
        .fabric-gallery-item{
            padding: 0;
        }
        .tabs{
            margin: 1rem 0;
            padding: 0;
            .ul-tabs{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    display: inline-block;
                    background-color: $secondary-color;
                    padding: 0.5rem 1rem;
                    font-size: 0.8rem;
                    cursor: pointer;
                    &.active{
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
        .colors-filter{
            .colors{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    display: inline-block;
                    cursor: pointer;
                    img,
                    .color{
                        width: 15px;
                        height: 15px;
                        border: 1px solid #000;
                        flex-shrink: 0;
                        flex-grow: 0;
                        margin-right: 1rem;
                        border-radius: 45%;
                    }
                }
            }
        }
        .form-inputs{
            display: flex;         
            //Form Controls
            .input-control{
                margin-right: 0.2rem;
                .form-control{
                    background-color: $secondary-color;
                    border: 0;
                    padding: 0.2rem 1rem;
                }
                .search-btn{
                    font-size: 1rem;
                    padding: 0.4rem 0.8rem;
                }
                .dropdown{
                    background-color: #dddcdc;
                    padding: 0 1rem;
                    width: 100px;
                    position: relative;
                    .flex-container{
                        align-items: center;
                    }
                    .color{
                        width: 15px;
                        height: 15px;
                        border: 1px solid #000;
                        flex-shrink: 0;
                        flex-grow: 0;
                        margin-right: 1rem;
                        border-radius: 45%;
                    }
                    dd{
                        position: absolute;
                        width: 100%;
                        left: 0;
                        margin: 0 !important;
                        color: #808285;
                        z-index: 999;
                        background-color: #dddcdc;
                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            li{
                                margin: 0.2rem;
                                color: #808285;
                                background-color: rgb(206, 206, 206);
                                padding: 0.5rem;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .fabrics{
            padding: 0.6rem 1rem;
            flex-wrap: wrap;
            .fabric{
                position: relative;
                cursor: pointer;
                width: 135px;
                height: 100%;
                border-radius: 0.2rem;
                overflow: hidden;
                margin: 0.2rem 0.5rem;
                &:hover{
                    .overlay{
                        display: block;
                    }
                }
                .fabric-img{
                    width: 100%;
                    height: 100px;
                }
                .overlay{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 0.4rem 0.6rem;
                    display: none;
                    background-color: rgba(0,0,0,0.6);
                    color: #fff;
                    .heading{
                        font-size: 0.8rem;
                        color: #fff;
                    }
                    .subheading{
                        font-size: 0.7rem;
                        color: #fff;
                    }
                    .add-to-fav{
                        text-align: right;
                        .btn{
                            &.fav-btn{
                                border-radius: 50%;
                                background-color: $secondary-color;
                                color: #000;
                                border: 0;
                                outline: 0;
                                width: 25px;
                                height: 25px;
                                cursor: pointer;
                                padding: 0;
                            }
                            &.active{
                                background-color: rgba(255,0,0,1);
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal-footer{
        padding: 0.6rem 1rem;
        .nav{
            .btn{
                outline: 0;
                border: 0;
                padding: 0.4rem 1.5rem;
                cursor: pointer;
            }
        }
        .pagination{
            .ul-pagination{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        text-decoration: none;
                        display: block;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        background-color: $secondary-color;
                        color: #000;
                    }
                    &.active{
                        a{
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.btn-next,
.btn-prev{
    background-color: $primary-color;
    color: #fff;
    padding: 1rem;
}
//Background Colors
.bg-aqua{
    background-color: aqua;
}
.bg-red{
    background-color: red;
}
.bg-grey{
    background-color: grey;
}
.bg-green{
    background-color: green;
}
.bg-black{
    background-color: black;
}
.bg-yellow{
    background-color: yellow;
}
.bg-orange{
    background-color: orange;
}
.bg-pink{
    background-color: pink;
}
.bg-valvet{
    background-color: rgb(160, 9, 9);
}
//Screen Navigation
.navigation{
    padding: 1rem 0;
    margin-top: 1rem;
    border-top: 1px solid rgb(197, 197, 197);
    .flex-container{
        .btn{
            width: 50%;
            padding: 0.9rem;
            border: 1px solid rgb(177, 177, 177);
            cursor: pointer;
            &:nth-child(2){
                margin-left: 1rem;
            }
        }
        .add-to-car-btn{
            display: none;
            margin-left: 1rem;
        }
        &.align-items-center{
            align-items: center;
        }
    }
}

//Data Loader
.dots-bars-7 {
    width: 40px;
    height: 40px;
    margin: auto;
    --c: linear-gradient(currentColor 0 0);
    background: 
      var(--c) 0    0,
      var(--c) 0    100%, 
      var(--c) 50%  0,  
      var(--c) 50%  100%, 
      var(--c) 100% 0, 
      var(--c) 100% 100%;
    background-size: 8px 50%;
    background-repeat: no-repeat;
    animation: db7-0 1s infinite;
    position: relative;
    overflow: hidden;
  }
  .dots-bars-7:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: currentColor;
    top:calc(50% - 4px);
    left:-8px;
    animation:inherit;
    animation-name:db7-1;
  }
  
  @keyframes db7-0 {
   16.67% {background-size:8px 30%, 8px 30%, 8px 50%, 8px 50%, 8px 50%, 8px 50%}
   33.33% {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 50%, 8px 50%}
   50%    {background-size:8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   66.67% {background-size:8px 50%, 8px 50%, 8px 30%, 8px 30%, 8px 30%, 8px 30%}
   83.33% {background-size:8px 50%, 8px 50%, 8px 50%, 8px 50%, 8px 30%, 8px 30%}
  }
  
  @keyframes db7-1 {
   20%  {left:0px}
   40%  {left:calc(50%  - 4px)}
   60%  {left:calc(100% - 8px)}
   80%,
   100% {left:100%}
  }

  #fabric-info-container{
    padding: 1rem 0;
    .image-box{
        width: 70%;
        margin-right: 2rem;
        height: 100%;
        img{
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
    }
    .info{
        width: 70%;
        .content{
            .brand-img{
                width: 150px;
            }
        }
        ul{
            list-style: none;
            padding: 0; 
            margin: 0;
            li{
                .label-box{
                    width: 150px;
                    .label{
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                }
                .value-box{
                    width: 100%;
                    margin-bottom: 0;
                    .color-container{
                        display: inline-block;
                        margin-right: 1rem;
                    }
                    .color-box{
                        width: 20px;
                        height: 20px;
                        margin-right: 1rem;
                        border-radius: 90%;
                    }
                    .value{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
  }
  
  .change-fabric{
    margin: 1rem 0;
  }

  